<% @comments.each do |comment| %>

    <div class="row comment-">

        <div class="col-md-2 comment-icon">
            <%= image_tag(comment.user.image_name.url) unless comment.user.blank?%>
            <h6><%= comment.user.name unless comment.user.blank? %></h6>
        </div>

        <div class="col-md-6 comment-content">
            <div id="star-rate-<%= comment.id %>">評価　</div>
            <h5><%= comment.title %></h5>
            <p><%= comment.content %></p>
            <% if user_signed_in? && comment.user == current_user %>
            <div class="comment-li">
                <p><%= link_to '削除', comment_path(comment), method: :delete %></p>
                <p>/</p>
                <p><%= link_to '編集', edit_comment_path(comment) %></p>
            </div>
            <% end %>
        </div>

            <script>
                $('#star-rate-<%= comment.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= comment.rate %>,
                });
            </script>

        <div class="col-md-4 comment-info text-center">
            <% if comment.gym_id.nil? %>
                <%= link_to trainer_path(comment.trainer) do%>
                    <%= image_tag(comment.trainer.image.url, {class: "trainer-img"})%>
                    <p><%= comment.trainer.name %></p>
                <%end%>
            <%else%>
                <%= link_to gym_path(comment.gym) do %>
                    <%= image_tag(comment.gym.image.url, {class: "gym-img"}) %>
                    <p><%= comment.gym.name %></p>
                <%end%>
            <%end%>
            <div class="new-gyms-time">
            <p><%= comment.created_at.strftime("%Y-%m-%d") %></p>
            </div>
        </div>
    </div>
<% end %>

<p><%= @user.comments.count %>件の口コミが表示されています。</p>