<div class="container">

    <div class="user-profile">
        <div class="user-img">
            <%= image_tag(@user.image_name.url) %>
        </div>
        <div class="user-profile">
            <h4><%= @user.name %></h4>
            <p><%= @user.email %></p>
            <div class="home-profile">
                <p class="inline-block"><%= sex(@user.sex) %>：</p>
                <p class="inline-block"><%= age(@user.age) %></p>
            </div>
            <% if @user == current_user %>
                <%= link_to "プロフィールを編集する", edit_user_registration_url(@user), class: 'btn btn-primary'%>
            <% end %>
        </div>
    </div>

    <div class='tabs'>
        <div class='user-tab-buttons'>
            <span class='content1'>口コミ</span>
            <span class='content2'>お気に入り</span>
            <div id='user-lamp' class='content1'></div>
        </div>

        <div class='tab-content'>
            
            <div class='content1'>
                <%= render 'comments' %>
                <%= paginate @comments %>
            </div><!--content1-->
            
            <div class='content2'>
                <div class="row justify-content-center">
                    <%= render 'trainers/trainers-index' %>
                </div>
                <%= paginate @trainers %>
            </div><!--content2-->

        </div><!--tab-content-->

    </div><!--tabs-->

    <div class='credit'>
    </div>
    
</div><!--container-->

<script>
$('.tab-content>div').hide();
$('.tab-content>div').first().slideDown();
  $('.user-tab-buttons span').click(function(){
    var thisclass=$(this).attr('class');
    $('#user-lamp').removeClass().addClass('#user-lamp').addClass(thisclass);
    $('.tab-content>div').each(function(){
      if($(this).hasClass(thisclass)){
        $(this).fadeIn(800);
      }
      else{
        $(this).hide();
      }
    });
  });
</script>